<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desaysv.moduleusbpicture">

    <application>
        <activity
            android:name="com.desaysv.moduleusbpicture.ui.USB1PictureListActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.desaysv.moduleusbpicture.ui.USB1PictureActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.desaysv.moduleusbpicture.ui.USB2PictureListActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.desaysv.moduleusbpicture.ui.USB2PictureActivity"
            android:launchMode="singleInstance" />
    </application>


</manifest>
