<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desaysv.svaudioapp_overlay">


    <overlay android:priority="1"
        android:targetPackage="com.desaysv.svaudioapp"/>
    <application
        android:label="eee"
        android:hasCode="false"/>

</manifest>