<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.desaysv.usbpicture"
    android:sharedUserId="android.uid.system">

    <uses-feature
        android:name="android.hardware.type.automotive"
        android:required="true" />

    <application
        android:name=".application.SVUSBPictureApplication"
        android:allowBackup="false"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chery8155app">
        <activity
            android:name=".ui.AlbumActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.BasePictureActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.desaysv.libdevicestatus.receiver.USBDeviceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.desaysv.svlibusbdialog.receiver.USBStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_EJECT" />
                <data android:scheme="file" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.KeepLiveService"
            android:enabled="true"
            android:exported="true">

        </service>
    </application>

</manifest>